* {
    margin: 0;
}

body{
    background-color: grey;
}

header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    display: flex;
    height: auto;
    background-color: lightgray;
    color: black;
    padding: 10px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
 
}

a{

    text-decoration: none;
    color: black; 
 
}

.search{
    display: flex;
    width: 20%;
    
}

.city{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    
    
    background-color: rgb(36, 30, 30);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.weather{
    display: flex;
    margin: 0 auto;
    width: 100%;
    color: white;
    margin-top: 25px;
}

.weather p{
    display: flex;
    padding: 30px;

}


